name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: windows
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "weeww! Thats the first issue you created"
        pr-message: "Congo!! This is your first pull request."
